.gallery-columns-3 .gallery-item { width: 33.333%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-item {
    display: inline-block;
    vertical-align: top;
    margin: 0px -4px 30px 0px;
    padding: 0px 15px;
}
.gallery-item .gallery-icon a,
.gallery-item .gallery-icon a img {
    float: left;
    width: 100%;
}