/*	Media 768Px Start */
@media (min-width: 768px) and (max-width: 990px) {
	.navbar-nav > li { border-bottom: 1px solid #eee; }
	.menu.active { min-height: auto;}
	.navbar-nav .sub-menu li a, .navbar-nav .children li a, .careerfy-megalist li a { color: #222845 !important;}
	.careerfy-megamenu li h4 { margin: 0px;}
	.js .menu > ul > li.careerfy-megamenu-li > ul.active { max-height: 100em;}
	.careerfy-megamenu .has-subnav { display: none !important;}
	.careerfy-megamenu.active { padding: 20px 0px 0px;}
	.careerfy-main-header .col-md-9 { float: right;}
	.js .menu ul ul.active { max-height: 100em;}
	a.menu-link { border: 1px solid #ddd; padding: 10px 8px; border-radius: 5px; background-color: #f4f4f4;}
	.menu-link span { border-bottom: solid 3px #999; border-top: double 10px #999; margin: 0px;}
	.menu.active { box-shadow: 0 5px 10px rgba(0,0,0,0.10);}
	.careerfy-navigation.navbar { position: absolute; left: 0%; margin: 0px; top: 100%; border-radius: 0px; z-index: 9999; width: 250px; background: #fff;}
	.menu-link { display: inline-block !important; }
	span.has-subnav { display: inline-block !important; } .nav > li.careerfy-megamenu-li { position: relative; }
	.menu ul ul,.menu { max-height: 0; overflow: hidden; }	.menu { min-height: 0; }
	.navbar .sub-menu .sub-menu, .navbar .children .children { left: 0; top: 0; padding-right: 0px; }
	.navbar .children .children .children { padding-left: 0px; }
	.navbar .children li { position: static; }
	.navbar li > .sub-menu > li > a { border-top: 1px solid #eee; padding: 15px 20px; border-bottom: none; }
	.navbar li > .children > li > a { border-top: 1px solid #eee; padding: 11px 20px; border-bottom: none; }
	.navbar .children ~ span.has-subnav,.navbar .sub-menu ~ span.has-subnav { padding: 14px 20px 15px 20px; top: 1px; }
	.careerfy-header-one .row > .col-md-10 { float: right; margin-top: 21px; }
	.navbar-nav .sub-menu,.navbar-nav .children { margin: 0px; padding: 0px; float: left; width: 100%; position: relative; opacity: 1; visibility: visible; box-shadow: none;}
	.navbar-nav .sub-menu,.navbar-nav .children {
		-webkit-transform: translate(0px);
		   -moz-transform: translate(0px);
		    -ms-transform: translate(0px);
		     -o-transform: translate(0px);
		        transform: translate(0px);
	}
	.navbar-default .navbar-nav > li > a { color: #333 !important; }
	.careerfy-sticky-header .careerfy-header-one { position: static; }
	.navbar-nav > li { width: 100%; padding: 0px 0px;}
	.navbar-nav > li > a { padding: 15px 22px;}
	.navbar-nav .sub-menu li a, .navbar-nav .children li a, .careerfy-megalist li a { color: #656c6c;}
	.navbar-nav .children .children { left: 0px; top: 0; }
	.navbar-nav li:last-child .sub-menu .sub-menu, .navbar-nav li:last-child .children .children { right: 0px; }
	.careerfy-header-two .careerfy-right,.navigation-subthree,.careerfy-header-three .careerfy-menu-con,.careerfy-navigation-wrap,.careerfy-navigation-wrapper { position: relative; }

	/* Header Two */
	.careerfy-header-two [class*="col-md-"] { float: left; } .careerfy-header-two .col-md-10 { float: right; }
	.careerfy-header-two a.menu-link { margin: 22px 20px 0px 0px; }
	.careerfy-header-two .submenu-addicon > a:after { display: none; }
	.careerfy-header-two .careerfy-navigation.navbar { right: auto; left: 0px; }
	.careerfy-header-two .navbar-nav > li > a { color: #333; } .careerfy-sticky-header .careerfy-header-two { position: static; }
	.careerfy-banner-search-two ul li,.careerfy-banner-search-two ul li:last-child { width: 50%; } .careerfy-banner-search-two ul li { margin: 7px 0px; }
	/* Header Three */
	.careerfy-header-three .navbar-nav > li { padding: 0px; }
	.careerfy-header-three .careerfy-right { position: relative; }
	.careerfy-header-three .submenu-addicon > a:after { display: none; }
	.careerfy-header-three a.menu-link { margin-top: 6px; }
	.careerfy-header-three .careerfy-user-log > li { margin-top: 6px; }
	/* Header Four */
	.careerfy-nav-area { float: left; margin: 24px 0px 0px 15px; position: relative; }
	.careerfy-header-four .navbar-nav li a,.careerfy-header-four .navbar-nav > li.current-menu-item > a,
	.careerfy-header-four .navbar-nav > li.current_page_item > a, .careerfy-header-four .navbar-nav > li.active > a { color: #333 !important; }
	.navbar-nav li:last-child .sub-menu .sub-menu, .navbar-nav li:last-child .children .children { right: 0; }
	/* HeaderFive */
	.careerfy-header-six a.menu-link { margin: 34px 0px 0px 0px; }
	.careerfy-header-six .careerfy-headfive-option { margin-top: 35px; }
	.careerfy-sticky-header .careerfy-header-six { position: static; animation: none; }
	.careerfy-header-six .careerfy-navigation.navbar { left: -200%; }
	.careerfy-header-six .careerfy-headfive-option ul { left: auto; right: 0; }
	/*main grid*/
	.careerfy-main-content .col-md-4,.careerfy-main-content .col-md-3 { float: none; display: inline-block; vertical-align: top; margin-right: -4px; width: 50%; }
	.careerfy-main-content .col-md-7,.careerfy-main-content .col-md-5 { width: 100%; float: left; margin-bottom: 30px; }
	.col-md-12 { float: left; width: 100%; }
	/*main grid*/
	.careerfy-banner-caption h1 { font-size: 38px;}
	.careerfy-banner-caption p { width: 70%;}
	.categories-list ul li { width: 33.333%;}
	.careerfy-featured-listing > ul > li { width: 100%;}
	.careerfy-testimonial-slider { width: 90%;}
	.careerfy-footer-widget .col-md-4,.careerfy-footer-widget .col-md-3,.careerfy-footer-widget .col-md-2 { display: inline-block; width: 50%; vertical-align: top; margin-right: -4px;}
	.careerfy-copyright { text-align: center;}
	.careerfy-social-network { width: 100%;}
	.careerfy-copyright p { width: 100%; margin: 12px 0px 20px;}
	.careerfy-social-network li { float: none; display: inline-block;}
	.careerfy-testimonial-section img { width: 100%;}
	.careerfy-login-registration-form .careerfy-column-6 { width: 100%;}
	.navbar-toggle .icon-bar { background-color: #bababa;}
	.careerfy-errorpage h2 { line-height: 1.3;}
	.careerfy-blog > ul > li { display: inline-block; vertical-align: top; float: none; margin-right: -4px; width: 50%;}
	/* Banner Three */
	.careerfy-banner-search-three { width: 100%; }
	.careerfy-upload-cvbtn { margin: 20px 0px 20px 0px; }
	.careerfy-bannerthree-caption h1,.careerfy-bannerthree-caption p,.careerfy-plan-thumb,.careerfy-testimonial-slider-style3 { width: 100%; }
	.testimonial-slider-style3-text { padding: 80px 0px 150px 80px; }
	.careerfy-banner-search ul li:last-child { width: 10%; } .careerfy-banner-search ul li { width: 28%; }
	.careerfy-banner-search-six ul li,.careerfy-banner-search-six ul li:last-child { width: 50%; margin-bottom: 10px; }
	.careerfy-banner-search-six input[type="submit"] { text-align: center; }
	
	.careerfy-animate-filter ul li a { padding: 12px 14px 11px 14px; }
	.careerfy-main-content .widget { display: inline-block; float: none; width: 50%; vertical-align: top; padding: 0px 10px;}
	.careerfy-main-content aside.col-md-3 { width: 100%;}
	.careerfy-detail-wrap { margin: 0px; width: 100%;}
	.navbar-nav > li > a::before { content: none;}
	.careerfy-testimonial-slider { margin-top: 0px;}
	.careerfy-banner-search { width: 100%;}
	.careerfy-main-content .careerfy-modren-counter ul li { width: 33.333%;}
	.careerfy-contact-info-sec { padding: 32px 20px 35px 20px;}
	.careerfy-contact-form textarea { height: 198px;}
	blockquote { font-size: 17px;}
	.careerfy-sidebar-col,.careerfy-content-col { padding: 0px 15px; }
	.careerfy-main-content .widget,.careerfy-author-detail,.careerfy-footer-widget [class*="col-md-"] { float: none; display: inline-block; margin-right: -4px; vertical-align: top; width: 50%; padding: 0px 10px; }
	.careerfy-header-one .row > .col-md-4 { float: right; }
	.careerfy-comingsoon-wrap,.careerfy-coming-soon { position: static; float: left; width: 100%; } .careerfy-transparent { display: none; }
	.careerfy-comingsoon-text .careerfy-newsletter { width: 100%; }
	.navigation-subthree { margin: 16px 0px 0px 20px; float: none; display: inline-block; }
	.careerfy-parallax-text-box { width: 100%; }
	.careerfy-banner-search-four ul li { width: 50%; margin-bottom: 15px; } .careerfy-banner-search-four ul li:last-child { width: 50%; }
	.careerfy-featured-jobs-list > ul > li { float: left; width: 100%; } .careerfy-parallax-style4 { padding-bottom: 30px; }
	.nav-list-mode { display: none; }
	.careerfy-banner-search-three { width: 100%; } .careerfy-banner-three { padding: 70px 0px; }
	.careerfy-banner-search-three ul li,.careerfy-banner-search-three ul li:last-child { width: 50%; }
	.careerfy-upload-cvbtn { margin: 20px 0px 20px 0px; width: 100%; }
	.careerfy-blog-medium figure ~ .careerfy-blog-medium-text { margin-left: 0px; float: left; width: 100%; } .careerfy-blog-medium figure { width: 100%; }
	.careerfy-categories-stylefive ul li { border: none; } .careerfy-categories-stylefive-wrap a { word-break: break-all; }
	/* Header Seven */
	.careerfy-header-seven a.menu-link { margin: 24px 10px 0px 0px; }
	.careerfy-navigation.navbar { position: absolute !important; }
	.careerfy-navigation-wrapper { position: relative; }
	/* Header Eight */
	.careerfy-header-eight a.menu-link { margin: 26px 0px 0px 0px; }
	.careerfy-banner-search-eight ul li:nth-child(2) { width: 270px; }
	.careerfy-priceplan-wrapper { width: 590px; }

	/* Footer Two */
	.careerfy-footer-two .careerfy-footer-widget .col-md-9 { width: 100%; }
	.careerfy-footer-newslatter li { width: 75%; } .careerfy-footer-newslatter li:last-child { width: 25%; }
	.careerfy-copyright-social,.careerfy-copyright-download { width: 100%; } .careerfy-copyright-social li,.careerfy-copyright-download li { float: none; display: inline-block; }
	.careerfy-banner-two .careerfy-banner-caption p { width: 100%; } .careerfy-footer-two .menu,.careerfy-footer-three .menu,.careerfy-footer-one .widget_nav_menu .menu,
	.careerfy-footer-four .widget_nav_menu .menu,.careerfy-footer-five .widget_nav_menu .menu,.careerfy-footer-six .widget_nav_menu .menu { max-height: inherit; overflow: inherit; min-height: auto; }
	.careerfy-footer-three .careerfy-footer-newslatter li { width: auto; }

	/* FooterFive */
	.copyright-five { text-align: center; }
	.copyright-five p,.copyright-wrap { width: 100%; }
	.copyright-five p { padding-bottom: 0px; } .copyright-wrap { padding-top: 15px; }
	.copyright-wrap img { margin-bottom: 20px; }
	.careerfy-header-one .navigation-sub,.careerfy-navigation.navbar { position: relative; }
	/* FooterSix */
	.copyright-six { text-align: center; }
	.footer-container { display: inline-block; }
	.copyright-six p { width: 100%; }

}

/* Media 420Px Start */
@media (max-width: 767px) {
	.careerfy-sticky-header .careerfy-header-one,
	.careerfy-sticky-header .careerfy-header-two,
	.careerfy-sticky-header .careerfy-header-three { -webkit-animation: none !important; -moz-animation: none !important; -o-animation: none !important; -ms-animation: none !important; animation: none !important; }
	.careerfy-sticky-header .careerfy-header-one { position: static; }
	.navbar-nav > li { border-bottom: 1px solid #eee; }
	.menu.active { min-height: auto;}
	.navbar-nav .sub-menu li a, .navbar-nav .children li a, .careerfy-megalist li a { color: #222845 !important;}
	.careerfy-megamenu li h4 { margin: 0px;}
	.js .menu > ul > li.careerfy-megamenu-li > ul.active { max-height: 100em;}
	.careerfy-megamenu .has-subnav { display: none !important;}
	.careerfy-megamenu.active { padding: 20px 0px 0px;}
	.careerfy-main-header .col-md-9 { float: right;}
	.js .menu ul ul.active { max-height: 100em;}
	a.menu-link { border: 1px solid #ddd; padding: 10px 8px; border-radius: 5px; background-color: #f4f4f4;}
	.careerfy-theme-unit a.menu-link { margin-top: 10px; }
	.menu-link span { border-bottom: solid 3px #999; border-top: double 10px #999; margin: 0px;}
	.menu.active { box-shadow: 0 5px 10px rgba(0,0,0,0.10);}
	.careerfy-navigation.navbar { position: absolute; left: 15%; margin: 0px; top: 100%; border-radius: 0px; z-index: 9999; width: 250px; background: #fff;}
	.menu-link { display: inline-block !important; }
	span.has-subnav { display: inline-block !important; } .nav > li.careerfy-megamenu-li { position: relative; }
	.menu ul ul,.menu { max-height: 0; overflow: hidden; }	.menu { min-height: 0; }
	.navbar .sub-menu .sub-menu, .navbar .children .children { left: 0; top: 0; padding-right: 0px; }
	.navbar .children .children .children { padding-left: 0px; }
	.navbar .children li { position: static; } .navbar .children ~ span.has-subnav,.navbar .sub-menu ~ span.has-subnav { padding: 14px 20px 15px 20px; top: 1px; }
	.navbar li > .sub-menu > li > a { border-top: 1px solid #eee; padding: 15px 20px; border-bottom: none; }
	.navbar li > .children > li > a { border-top: 1px solid #eee; padding: 11px 20px; border-bottom: none; }
	.careerfy-header-one .row > [class*="col-md-6"] { float: right; } .careerfy-header-one .row > [class*="col-md-4"] { width: 100%; }
	.careerfy-header-one .careerfy-right { width: 100%; }
	.careerfy-header-one .row > .col-md-10 { float: right; margin-top: 17px; }
	.navbar { position: relative; float: left;}
	.navbar-nav > li:first-child > a { padding-left: 22px; }
	.navbar-nav { margin: 0px; }
	.navbar-nav .sub-menu,.navbar-nav .children { float: left; width: 100%; position: relative; opacity: 1; visibility: visible; box-shadow: none; margin: 0px; padding: 0px; }
	.navbar-nav .sub-menu,.navbar-nav .children {
		-webkit-transform: translate(0px);
		   -moz-transform: translate(0px);
		    -ms-transform: translate(0px);
		     -o-transform: translate(0px);
		        transform: translate(0px);
	}
	.careerfy-header-two .careerfy-right,.navigation-subthree,.careerfy-header-three .careerfy-menu-con,.careerfy-navigation-wrap,.careerfy-navigation-wrapper { position: relative; }
	.navbar-default .navbar-nav > li > a { color: #333 !important; }
	.navbar-nav > li { width: 100%; padding: 0px 0px; }
	.navbar-nav .children .children { left: 0px; top: 0; }
	.navbar-nav li:last-child .sub-menu .sub-menu, .navbar-nav li:last-child .children .children { right: 0px; }
	.careerfy-header-one .navigation-sub { float: left; } .careerfy-header-one .careerfy-user-section { float: right; }
	.careerfy-header-one .careerfy-simple-btn { float: left; width: 100%; margin: 0px 0px -4px 0px; text-align: center; border-radius: 0px; padding-top: 17px; padding-bottom: 17px; }
	.careerfy-header-one .careerfy-logo-con { width: 100%; text-align: center; }
	/* Header Two */
	.careerfy-header-two [class*="col-md-"] { float: left; } .careerfy-header-two .col-md-10 { float: right; }
	.careerfy-header-two a.menu-link { margin: 22px 20px 0px 0px; }
	.careerfy-header-two .careerfy-navigation.navbar { right: auto; left: 0px; }
	.careerfy-header-two .navbar-nav > li > a { color: #333; } .careerfy-sticky-header .careerfy-header-two { position: static; }
	.careerfy-banner-search-two ul li,.careerfy-banner-search-two ul li:last-child { width: 50%; } .careerfy-banner-search-two ul li { margin: 7px 0px; }
	/* Header Three */
	.careerfy-header-three .navbar-nav > li { padding: 0px; }
	.careerfy-header-three .careerfy-right { position: relative; }
	.careerfy-header-three .submenu-addicon > a:after { display: none; }
	.careerfy-header-three a.menu-link { margin-top: 6px; }
	.careerfy-header-three .careerfy-user-log > li { margin-top: 6px; }
	.careerfy-header-three .careerfy-logo-con,.careerfy-header-three .careerfy-menu-con { float: none; }
	.careerfy-header-three .careerfy-user-log { padding-right: 15px; }
	/* Header Four */
	.careerfy-nav-area { float: left; margin: 26px 15px 0px 0px; position: relative; }
	.careerfy-header-four .navbar-nav li a,.careerfy-header-four .navbar-nav > li.current-menu-item > a,
	.careerfy-header-four .navbar-nav > li.current_page_item > a, .careerfy-header-four .navbar-nav > li.active > a { color: #333 !important; }
	.navbar-nav li:last-child .sub-menu .sub-menu, .navbar-nav li:last-child .children .children { right: 0; }
	.careerfy-header-four { text-align: center; } .careerfy-header-four .col-md-8,.careerfy-header-four .careerfy-header-option { float: none; display: inline-block; }
	.careerfy-header-four .col-md-4 { float: left; width: 100%; } .nav-list-mode { display: none; }
	.careerfy-header-four { position: static; float: left; width: 100%; background-color: #7a73ef; }
	.careerfy-header-four .careerfy-header-option > li { margin: 0px 10px; } .careerfy-header-four .careerfy-logo { float: right; }


	/*main grid*/
	.careerfy-main-content .col-md-4,.careerfy-main-content .col-md-3{ float: none; display: inline-block; vertical-align: top; margin-right: -4px; width: 50%; }
	.careerfy-main-content .col-md-7,.careerfy-main-content .col-md-5 { width: 100%; float: left; margin-bottom: 30px; }
	.col-md-12 { float: left; width: 100%; }
	.navbar-nav > li > a { padding: 15px 22px;}
	.navbar-nav .sub-menu li a, .navbar-nav .children li a, .careerfy-megalist li a { color: #656c6c;}
	/*main grid*/
	.careerfy-navigation { float: left;}
	.careerfy-banner { background-size: cover;}
	.careerfy-banner-caption p,.careerfy-banner-search,.careerfy-featured-listing > ul > li.col-md-6 { width: 100%;}
	.careerfy-testimonial-slider { width: 100%; padding: 0px 15px; margin-top: 30px;}
	.careerfy-copyright { text-align: center;}
	.careerfy-social-network { width: 100%;}
	.careerfy-copyright p { width: 100%; margin: 12px 0px 20px;}
	.careerfy-social-network li { float: none; display: inline-block;}
	.categories-list ul li { width: 50%;}
	.careerfy-banner-btn a { margin: 10px 2px 0px;}
	.careerfy-featured-listing figure, .careerfy-featured-listing-text { float: left; width: 100%;}
	.careerfy-option-btn { float: right;}
	.careerfy-blog-grid-text { padding: 15px 15px 30px;}
	.careerfy-footer-widget .col-md-4,.careerfy-footer-widget .col-md-3,.careerfy-footer-widget .col-md-2 { display: inline-block; width: 50%; vertical-align: top; margin-right: -4px;}
	.careerfy-featured-listing > ul > li { width: 50%; float: none; display: inline-block; margin-right: -4px; vertical-align: top;}
	.careerfy-testimonial-slider:before { top: -25px; left: 15px;}
	.careerfy-banner-search ul li { width: 29.333%;}
	.careerfy-modren-counter ul li::before { content: none;}
	.careerfy-banner-search ul li:last-child { width: 10%;}
	.careerfy-services-classic ul li::before { content: none;}
	.careerfy-classic-priceplane-title { padding: 0px 6px;}
	.careerfy-priceplane-section span ~ p { padding: 0px; float: left;}
	.careerfy-header-one .row > [class*="col-md-"] { display: block;}
	.careerfy-login-registration-form .careerfy-column-6 { width: 100%;}
	.navbar-toggle .icon-bar { background-color: #bababa;}
	.careerfy-errorpage { float: left; width: 100%;}
	.careerfy-error-search { margin-bottom: 20px; width: 62%;}
	.careerfy-errorpage h2 { line-height: 1.3;}
	.careerfy-detail-wrap { margin: 0px; width: 100%;}
	.careerfy-blog-other > li { float: none; display: inline-block;}
	.careerfy-blog > ul > li { display: inline-block; vertical-align: top; float: none; margin-right: -4px; width: 50%;}
	.careerfy-subheader { background-size: cover;}
	.careerfy-main-content aside.col-md-3 { width: 100%;}
	.careerfy-errorpage-bg { background-size: cover;}
	.careerfy-main-content .widget { display: inline-block; float: none; width: 50%; vertical-align: top; padding: 0px 10px;}
	.navbar-nav > li > a::before,.careerfy-modren-counter ul li::before { content: none;}
	.careerfy-banner-search ul li i{ right: 10px;}
	.careerfy-select-style::after { right: 15px;}
	.careerfy-contact-form,.careerfy-contact-info-sec { width: 100%;}
	.careerfy-errorpage-bg { background-size: cover;}
	.careerfy-banner-search { width: 100%; } .careerfy-banner-search ul li,.careerfy-banner-search ul li:last-child { width: 50%; }
	.careerfy-showing-result figure ~ .careerfy-result-text,.careerfy-posts-list.careerfy-showing-result figure { float: left; width: 100%; }
	.careerfy-posts-list.careerfy-showing-result figure { margin-bottom: 20px; } .careerfy-showing-result figure ~ .careerfy-result-text { padding-left: 0px; }
	.careerfy-sidebar-col,.careerfy-content-col { padding: 0px 15px; }
	.careerfy-prenxt-post ul li,.careerfy-content-col .col-md-6 { width: 100%; }
	.comments-area { padding-right: 0px; } .involved-social-icone { float: left; }
	.vc_column_container { padding: 0px 15px !important; }
	.col-md-6.careerfy-parallex-box { min-height: inherit; float: left; width: 100%; } .careerfy-parallex-box-wrap { width: 100%; }
	.careerfy-joblisting-plain-right { float: left; }
	.careerfy-comingsoon-wrap,.careerfy-coming-soon { position: static; float: left; width: 100%; } .careerfy-transparent { display: none; }
	.careerfy-comingsoon-text .careerfy-newsletter { width: 100%; }
	.careerfy-sticky-header .careerfy-header-three { position: relative; }
	.careerfy-btns-con { width: 100%; }
	.careerfy-btns-con { padding: 0px 15px; }
	.careerfy-header-one .careerfy-btns-con { padding: 0px 0px; }
	.careerfy-header-one .navigation-sub { padding-left: 15px; } .careerfy-header-one .careerfy-user-section { padding-right: 15px; }
	/* Banner Three */
	.careerfy-banner-search-three { width: 100%; } .careerfy-banner-three { padding: 70px 0px; }
	.careerfy-banner-search-three ul li,.careerfy-banner-search-three ul li:last-child { width: 50%; }
	.careerfy-upload-cvbtn { margin: 20px 0px 20px 0px; } 
	.careerfy-bannerthree-caption h1,.careerfy-bannerthree-caption p,.careerfy-plan-thumb,.careerfy-testimonial-slider-style3 { width: 100%; }
	.testimonial-slider-style3-text { padding: 80px 0px 150px 80px; }
	.vc_row-fluid .vc_column-inner { padding-left: 0; } .vc_row-fluid .vc_column-inner { padding-right: 0; }
	.careerfy-banner { padding: 70px 0px 70px 0px; }
	.careerfy-banner-caption h1 { font-size: 34px; }
	.careerfy-bannerthree-caption h1 { font-size: 28px; }
	.careerfy-bannerthree-caption p { font-size: 18px; }
	.careerfy-search-categories li:before { right: 10px; } .careerfy-search-categories li { padding-left: 0px; padding-right: 20px; }
	.careerfy-banner-btn a i {  display: none;}
	/*HeaderOne*/
	.careerfy-logo-con,.careerfy-btns-con { float: left; } .careerfy-menu-con { float: right; }
	.careerfy-header-one a.menu-link { margin: 25px 15px 0px 0px; }
	/* Header Two */
	.careerfy-header-two { text-align: center; padding-right: 0px; } .careerfy-header-two .careerfy-logo-con,.careerfy-header-two .careerfy-menu-con { width: 100%; }
	.careerfy-header-two .careerfy-logo { float: none; display: inline-block; margin: 30px 0px 0px 0px; }
	.careerfy-header-two .careerfy-right { float: none; display: inline-block; }
	.banner-search-padding .vc_column-inner { padding: 0px !important; }
	.navigation-subthree { margin: 16px 0px 0px 20px; float: none; display: inline-block; }
	.careerfy-header-three .careerfy-logo { float: left; }
	.careerfy-parallax-text-box { width: 100%; }
	.careerfy-banner-search-four ul li { width: 50%; margin-bottom: 15px; } .careerfy-banner-search-four ul li:last-child { width: 50%; }
	.careerfy-featured-jobs-list > ul > li { float: left; width: 100%; }
	.jobsearch-search-container .jobsearch-banner-search ul li { line-height: 1; }
	.careerfy-header-four .careerfy-logo-con { width: 100%; }
	
	/* Footer Two */
	.careerfy-footer-two .careerfy-footer-widget .col-md-9 { width: 100%; }
	.careerfy-copyright-social,.careerfy-copyright-download { width: 100%; } .careerfy-copyright-social li,.careerfy-copyright-download li { float: none; display: inline-block; }
	.careerfy-banner-two .careerfy-banner-caption p { width: 100%; } .careerfy-footer-two .menu,.careerfy-footer-three .menu,.careerfy-footer-one .widget_nav_menu .menu,
	.careerfy-footer-four .widget_nav_menu .menu { max-height: inherit; overflow: inherit; min-height: auto; }
	.careerfy-footer-newslatter li:last-child { width: 42%; margin-top: 10px; } .careerfy-footer-newslatter li { width: 100%; }
	.careerfy-footer-two .col-md-9 .widget { width: 50%; } .careerfy-footer-widget .widget.careerfy-footer-newslatter { width: 100%; }
	.careerfy-footer-three .careerfy-footer-newslatter li { width: auto; margin-top: 0px; }

	/* HeaderFive */
	.careerfy-header-six { text-align: center; }
	.careerfy-header-six .careerfy-logo,.careerfy-header-six .careerfy-right { width: 100%; }
	.careerfy-header-six .careerfy-right { padding: 0px 5px 20px 15px; }
	.careerfy-header-six a.menu-link { margin: 34px 0px 0px 0px; }
	.careerfy-header-six .careerfy-headfive-option { margin-top: 35px; }
	.careerfy-sticky-header .careerfy-header-six { position: static; animation: none; }
	.careerfy-banner-search-six ul li,.careerfy-banner-search-six ul li:last-child { width: 50%; margin-bottom: 10px; }
	.careerfy-banner-search-six input[type="submit"] { text-align: center; }
	.careerfy-categories-stylefive ul li { width: 25%; } .careerfy-team-parallex { padding-top: 24px; }
	.careerfy-header-six .careerfy-headfive-option ul { left: auto; right: 0; }
	.careerfy-header-six .careerfy-headfive-option li { text-align: left; }
	.logged-in .careerfy-header-six .careerfy-navigation-wrap { float: left; }
	.careerfy-animate-filter ul { text-align: center; } .careerfy-animate-filter ul li { display: inline-block; float: none; }
	/* Header Seven */
	.careerfy-header-seven { text-align: center; }
	.careerfy-header-seven .careerfy-logo { float: none; display: inline-block; }
	.careerfy-header-seven .careerfy-right { width: 100%; padding: 0px 20px; }
	.careerfy-header-seven .careerfy-navigation-wrapper { float: left; }
	.careerfy-header-seven .careerfy-headsix-option { margin-top: 0px; }
	.careerfy-header-seven a.menu-link { float: left; }
	.careerfy-navigation.navbar { position: absolute !important; }
	.careerfy-header-seven .careerfy-headsix-option > li > a { padding: 4px 4px; font-size: 12px; }
	.careerfy-sticky-header .careerfy-header-seven { position: static; }
	/* Banner */
	.careerfy-search-seven-wrap h2 { font-size: 26px; width: 100%; }
	.careerfy-banner-search-seven { width: 100%; }
	.careerfy-banner-search-seven ul li,.careerfy-banner-search-seven ul li:last-child { width: 50%; }
	.careerfy-joblisting-media ~ .careerfy-joblisting-text { margin-left: 0px; float: left; width: 100%;  }
	.careerfy-navigation.navbar { left: 0; } .careerfy-header-seven .careerfy-headsix-option ul { left: auto; right: 0; text-align: left; }
	/* Header Eight */
	.careerfy-sticky-header .careerfy-header-eight { position: static; animation: none; }
	.careerfy-header-eight { padding: 0px 15px; }
	.careerfy-header-eight a.menu-link { margin-top: 25px; }
	.careerfy-header-eight .careerfy-navigation.navbar { left: auto; right: 0px; }
	.careerfy-banner-search-eight ul li:nth-child(1),.careerfy-banner-search-eight ul li:nth-child(2),.careerfy-banner-search-eight ul li,
	.careerfy-banner-search-eight input[type="submit"] { width: 100%; }
	.careerfy-banner-search-eight input[type="submit"] { margin: 15px 0px 0px 0px; }
	.careerfy-priceplan-wrapper { width: 100%; padding: 0px 15px; }

	/* FooterFive */
	.copyright-five { text-align: center; }
	.copyright-five p,.copyright-wrap { width: 100%; }
	.copyright-five p { padding-bottom: 0px; } .copyright-wrap { padding-top: 15px; }
	.copyright-wrap img { margin-bottom: 20px; }
	.careerfy-blog-medium figure ~ .careerfy-blog-medium-text { margin-left: 0px; float: left; width: 100%; } .careerfy-blog-medium figure { width: 100%; }
	.careerfy-categories-stylefive ul li { border: none; } .careerfy-categories-stylefive-wrap a { word-break: break-all; }
	.careerfy-footer-five .widget_nav_menu .menu,.careerfy-footer-six .widget_nav_menu .menu { max-height: inherit; overflow: inherit; min-height: auto; }
	.careerfy-header-one .navigation-sub,.careerfy-navigation.navbar { position: relative; }
	/* FooterSix */
	.copyright-six { text-align: center; }
	.footer-container { display: inline-block; }
	.copyright-six p { width: 100%; margin-right: 0px; }
	.copyright-six .footer-menu li { display: inline-block; float: none; }

}

/* Media 300Px Start */
@media (max-width: 480px) {
	.careerfy-header-three .careerfy-navigation.navbar { right: auto; left: 0; }
	.careerfy-user-log ul { margin-top: 10px; }
	/*main grid*/
	.careerfy-main-content .col-md-4,.careerfy-main-content .col-md-3,.careerfy-main-content .col-md-6 { margin-right: 0px; width: 100%; }
	/*main grid*/
	.careerfy-banner-search ul li:last-child,.careerfy-banner-btn a { width: 100%;}
	.careerfy-banner-search ul li { width: 100%;}
	.categories-list ul li { width: 100%;}
	.careerfy-banner-btn a { margin: 10px 0px 0px;}
	.careerfy-blog-grid-text { padding: 15px 20px 30px;}
	.careerfy-footer-widget .col-md-4,.careerfy-footer-widget .col-md-3,.careerfy-footer-widget .col-md-2 { margin-right: 0px; width: 100%;}
	.careerfy-classic-services span { right: 20px;}
	.careerfy-logo { width: auto;}
	.careerfy-navigation { float: right;}
	.navbar-toggle { margin: 30px 0px 25px;}
	.careerfy-right { width: 100%;} .careerfy-header-two .careerfy-right { width: auto; }
	.careerfy-priceplane-section span ~ p { padding-left: 114px; float: none;}
	.navbar-collapse { right: 4px; left: auto; top: 75px;}
	.careerfy-error-search { width: 100%;}
	.careerfy-blog > ul > li,.careerfy-prenxt-post ul li { width: 100%;}
	.comments-area figure ~ .careerfy-comment-text { margin: 0px; padding: 20px 0px 0px; float: left;}
	.careerfy-comment-text h6 { float: none;}
	.careerfy-comment-text time { float: left;}
	blockquote { font-size: 16px;}
	.careerfy-main-content .widget,.comment-respond form p { width: 100%;}
	.careerfy-main-content .widget { margin-right: 0px;}
	.careerfy-errorpage a { float: none; display: inline-block;}
	.careerfy-banner-caption h1 { font-size: 28px;}
	.careerfy-contact-form ul li { width: 100%;}
	.careerfy-banner-search-two ul li, .careerfy-banner-search-two ul li:last-child { width: 100%; }
	.careerfy-banner-search-three ul li,.careerfy-banner-search-three ul li:last-child,.careerfy-upload-cvbtn { width: 100%; }
	.testimonial-slider-style3-text { padding: 40px 20px 150px 25px; }
	.careerfy-bannerthree-caption h1 { font-size: 28px; }
	.careerfy-search-categories { text-align: center; } .careerfy-search-categories li { float: none; display: inline-block; }
	.careerfy-search-categories li:before { display: none; }
	.testimonial-slider-style3-text p { font-size: 14px; width: 100%; }
	.testimonial-slider-style3-text span i { font-size: 24px; }
	.testimonial-slider-style3-text span { font-size: 16px; }
	.testimonial-slider-style3-text span small { font-size: 14px; }
	.jobsearch-user-form input[type="submit"],.jobsearch-applicants-stats { width: 100%; }
	.careerfy-banner-three { padding: 100px 0px 110px 0px; }
	.careerfy-header-three { padding-bottom: 17px; }
	.careerfy-header-three .careerfy-logo { width: 100%; text-align: center; }
	.careerfy-header-three .careerfy-logo-con,.careerfy-header-three .careerfy-menu-con { float: left; width: 100%; }
	.careerfy-header-three .careerfy-menu-con { padding-left: 15px; } .careerfy-header-three .careerfy-user-log > li { border: none; }
	.careerfy-banner-btn a i {  display: inline-block;}
	.careerfy-user-option li:last-child { margin-right: 0px; }
	.careerfy-banner-search ul li { margin-right: 0px; }
	.careerfy-header-three .careerfy-user-log > li > a > i { display: none; }
	.careerfy-header-four .careerfy-header-option > li > a { padding: 6px 10px; }
	.careerfy-banner-search-four ul li { width: 100%; }
	.careerfy-featured-jobs-list figure ~ .careerfy-featured-jobs-list-text { margin-left: 0px; float: left; width: 100%; }
	.careerfy-upload-cvbtn { padding: 23px 10px; }
	.careerfy-banner-search-four ul li:last-child { width: 100%; }
	.jobsearch-search-container .jobsearch-banner-search ul li:nth-child(2),.jobsearch-search-container .jobsearch-banner-search ul li:nth-child(4) { border-left: 1px solid #f2f2f2; }
	/* HeaderSix */
	.careerfy-header-six .careerfy-navigation-wrap,.careerfy-header-six .careerfy-headfive-option > li { display: inline-block; float: none; }
	.careerfy-header-six .careerfy-navigation.navbar { left: -200%; }
	.careerfy-categories-stylefive ul li { width: 50%; }
	.careerfy-banner-search-six ul li,.careerfy-banner-search-six ul li:last-child { width: 100%; }
	.careerfy-banner-search-seven ul li,.careerfy-banner-search-seven ul li:last-child { width: 100%; }
	.careerfy-employer-slider { padding: 0px 40px; }
	.careerfy-employer-slider .slick-arrow { left: -30px; } .careerfy-employer-slider .slick-arrow.slick-arrow-right { right: -30px; }
	.careerfy-header-eight .careerfy-logo { text-align: center; width: 100%; }
	.careerfy-header-eight .careerfy-navigation.navbar { left: 0px; right: auto; }
	

	.careerfy-footer-two .col-md-9 .widget { width: 100%; }


}

@media screen and (min-width: 300px) and (max-width: 520px) {
	.navigation-subthree { float: left; margin: 0px; }
	.careerfy-header-three .careerfy-menu-con,.careerfy-header-three .careerfy-logo-con { float: left; width: 100%; }
	.careerfy-header-three .careerfy-right { width: 100%; }
	.careerfy-header-three .careerfy-logo-con { text-align: center; }
	.careerfy-header-three .careerfy-logo { float: none; display: inline-block; } .careerfy-header-three .careerfy-menu-con { padding: 0px 5px 11px 20px; }
}
@media screen and (min-width: 660px) and (max-width: 767px) {
	.careerfy-btns-con { width: auto; }
	.careerfy-header-one .careerfy-menu-con a.menu-link { margin: 0px 0px 0px 0px; }
	.careerfy-logo-con,.careerfy-btns-con { float: none; } .careerfy-menu-con { float: none; }
	.careerfy-header-one .careerfy-logo-con,.careerfy-header-one .careerfy-btns-con,.careerfy-header-one .careerfy-menu-con { float: left; width: 100%; }
	.careerfy-simple-btn { margin-left: 0px; }
	.careerfy-header-two .careerfy-logo-con, .careerfy-header-two .careerfy-menu-con { width: auto; }
	.careerfy-header-two .careerfy-right { float: right; padding-right: 30px; } .careerfy-header-two .careerfy-logo { margin: 0px; }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
	.careerfy-user-log > li > a > i { display: none; }
}

/* Media 940Px Start */
@media screen and (min-width: 991px) and (max-width: 1054px) {
	.careerfy-header-one .navigation-sub { float: left; }
	.navbar-collapse { padding-right: 0px;}
	.navbar-nav > li:last-child { padding-right: 0px;}
	.navbar-nav > li { padding: 0px 10px 0px;}
	.careerfy-featured-listing-options ul { width: 60%;}
	.careerfy-featured-listing > ul > li { display: inline-block; float: none; vertical-align: top; margin-right: -4px;}
	.careerfy-testimonial-slider { width: 97%; padding: 0px 0px 20px 40px; margin-top: 26px;}
	.careerfy-testimonial-slider::before { left: 0px;}
	.careerfy-packages-priceplane ul { padding: 24px 15px 9px;}
	.careerfy-testimonial-wrap p { font-size: 23px; line-height: 34px;}
	.careerfy-banner-search-three { width: 100%; } .careerfy-banner-three { padding: 70px 0px; }
	.careerfy-banner-search-three ul li,.careerfy-banner-search-three ul li:last-child { width: 50%; }
	.careerfy-upload-cvbtn { margin: 20px 0px 20px 0px; width: 100%; }
	.careerfy-banner-search-four ul li { width: 50%; margin-bottom: 15px; } .careerfy-banner-search-four ul li:last-child { width: 50%; }

}

/* Media 940Px Start */
@media screen and (min-width: 991px) and (max-width: 1250px) {
	.navbar-collapse { padding-right: 0px;}
	.navbar-nav > li:last-child { padding-right: 0px;}
	.navbar-nav > li { padding: 0px 10px 0px;}
	.careerfy-featured-listing-options ul { width: 60%;}
	.careerfy-featured-listing > ul > li { display: inline-block; float: none; vertical-align: top; margin-right: -4px;}
	.careerfy-testimonial-slider { width: 97%; padding: 0px 0px 20px 40px; margin-top: 26px;}
	.careerfy-testimonial-slider::before { left: 0px;}
	.careerfy-packages-priceplane ul { padding: 24px 15px 9px;}
	.careerfy-testimonial-wrap p { font-size: 23px; line-height: 34px;}
	.careerfy-comingsoon-wrap,.careerfy-coming-soon { position: static; float: left; width: 100%; } .careerfy-transparent { display: none; }
	.careerfy-comingsoon-text .careerfy-newsletter { width: 100%; } .careerfy-comingsoon-text { padding-top: 100px; padding-bottom: 100px; }
	.careerfy-parallex-box,.careerfy-media-player, .col-md-6.careerfy-media-player { width: 100%; }
	.careerfy-media-player, .col-md-6.careerfy-media-player { min-height: 350px; }
	.careerfy-banner-search-two ul li { width: 26%; }
	.careerfy-banner-search-two ul li:last-child { width: 22%; }

}

@media screen and (min-width: 1050px) and (max-width: 1730px) {
	.careerfy-testimonial-slider { width: 80%; margin-top: 27px;}

}