.clear,
.woocommerce .woocommerce-breadcrumb:after {
    clear: both
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@font-face {
    font-family: star;
    src: url(../fonts/star.eot);
    src: url(../fonts/star.eot?#iefix) format("embedded-opentype"), url(../fonts/star.woff) format("woff"), url(../fonts/star.ttf) format("truetype"), url(../fonts/star.svg#star) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: WooCommerce;
    src: url(../fonts/WooCommerce.eot);
    src: url(../fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(../fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(../fonts/WooCommerce.svg#WooCommerce) format("svg");
    font-weight: 400;
    font-style: normal
}

p.demo_store {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: 1em 0;
    text-align: center;
    background-color: #a46497;
    color: #fff;
    z-index: 99998;
    box-shadow: 0 1px 1em rgba(0, 0, 0, .2)
}

p.demo_store a {
    color: #fff
}

.admin-bar p.demo_store {
    top: 32px
}

.woocommerce .blockUI.blockOverlay {
    position: relative;
}

.woocommerce .blockUI.blockOverlay:before,
.woocommerce .loader:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    display: block;
    content: "\f021";
    font-family: FontAwesome;
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    line-height: 1;
    text-align: center;
    font-size: 5em;
    color: rgba(0, 0, 0, .75);
}
.checkout.woocommerce-checkout.processing {
    display: inline-block;
    width: 100%;
}

.woocommerce a.remove {
    display: block;
    font-size: 1.3em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1.1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: 700;
    border: 0
}

.woocommerce a.remove:hover {
    color: #fff!important;
    background: red
}

.woocommerce small.note {
    display: block;
    color: #777;
    font-size: .857em;
    margin-top: 10px
}

.woocommerce .woocommerce-breadcrumb {
    margin: 0 0 1em;
    padding: 0;
    font-size: .92em;
    color: #777
}

.woocommerce .woocommerce-breadcrumb:after,
.woocommerce .woocommerce-breadcrumb:before {
    content: " ";
    display: table
}

.woocommerce .woocommerce-breadcrumb a {
    color: #777
}

.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center
}

.woocommerce div.product {
    margin-bottom: 0;
    position: relative
}

.woocommerce div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0;
    font-size: 24px;
    margin-bottom: 0px;
}

.woocommerce #reviews #comments .add_review:after,
.woocommerce .products ul:after,
.woocommerce div.product form.cart:after,
.woocommerce div.product p.cart:after,
.woocommerce nav.woocommerce-pagination ul,
.woocommerce ul.products:after {
    clear: both
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
    background: inherit;
    font-weight: 400;
    text-transform: unset;
}
.woocommerce-review-link  { font-style: italic; } 

.woocommerce div.product p.stock {
    font-size: .92em
}

.woocommerce div.product .stock {
    color: #77a464
}

.woocommerce div.product .out-of-stock {
    color: red
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 12px;
}

.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none
}

.woocommerce div.product div.images div.thumbnails {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.woocommerce div.product div.images div.thumbnails a {
    display: inline-block;
    width: 33.333%;
    margin: 0px -4px 0px 0px;
    padding: 10px;
}

.woocommerce div.product div.social {
    text-align: right;
    margin: 0 0 1em
}

.woocommerce div.product div.social span {
    margin: 0 0 0 2px
}

.woocommerce div.product div.social span span {
    margin: 0
}

.woocommerce div.product div.social span .stButton .chicklets {
    padding-left: 16px;
    width: 0
}

.woocommerce div.product div.social iframe {
    float: left;
    margin-top: 3px
}

.woocommerce-tabs {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.woocommerce-tabs .woocommerce-Tabs-panel {
    float: left;
    width: 100%;
}

.woocommerce div.product .woocommerce-tabs .panel {
    display: inline-block;
    width: 100%;
}
.woocommerce-Reviews #comments {
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 39px 23px 0px 34px;
    margin-bottom: 25px;
}
.tab-content-wrap .panel {
    border: none;
    box-shadow: none;
}
.woocommerce-Reviews .comment-respond h3 {
    padding-bottom: 17px;
    border-bottom: 2px solid #2a2a2a;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 20px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
}
.woocommerce-Reviews .comment-respond label {
    margin-bottom: 10px;
    color: #262626;
}
.woocommerce-Reviews .comment-respond input[type="text"],
.woocommerce-Reviews .comment-respond input[type="email"] {
    background-color: #fff;
    border: 1px solid #eee;
    color: #333;
    float: left;
    font-size: 16px;
    font-weight: 300;
    height: 43px;
    padding: 5px 15px;
    width: 100%;
}
.woocommerce-Reviews .comment-respond textarea {
    background-color: #fff;
    border: 1px solid #eee;
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: 300;
    height: 156px;
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 100%;
}
.woocommerce div.product .woocommerce-tabs .panel p strong,
.woocommerce div.product .woocommerce-tabs .panel p time {
    margin-bottom: 3px;
    color: #b4b4b4;
}

.woocommerce-Reviews-title {
    margin-bottom: 15px;
}

.woocommerce div.product form.cart:after,
.woocommerce div.product form.cart:before,
.woocommerce div.product p.cart:after,
.woocommerce div.product p.cart:before {
    display: table;
    content: " "
}

.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
    margin-bottom: 2em
}

.woocommerce div.product form.cart div.quantity {
    float: left;
    margin: 9px 4px 0 0
}

.woocommerce div.product form.cart table {
    border-width: 0 0 1px
}

.woocommerce div.product form.cart table td {
    padding-left: 0
}

.woocommerce div.product form.cart table div.quantity {
    float: none;
    margin: 0
}

.woocommerce div.product form.cart table small.stock {
    display: block;
    float: none
}

.woocommerce div.product form.cart .variations {
    margin-bottom: 1em;
    border: 0;
    width: 100%
}

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
    border: 0;
    vertical-align: top;
    line-height: 2em
}

.woocommerce div.product form.cart .variations label {
    font-weight: 700
}

.woocommerce div.product form.cart .variations select {
    max-width: 100%;
    min-width: 75%;
    display: inline-block;
    margin-right: 1em
}

.woocommerce div.product form.cart .variations td.label {
    padding-right: 1em
}

.woocommerce div.product form.cart .woocommerce-variation-description p {
    margin-bottom: 1em
}

.woocommerce div.product form.cart .reset_variations {
    visibility: hidden;
    font-size: .83em
}

.woocommerce div.product form.cart .wc-no-matching-variations {
    display: none
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left
}

.woocommerce div.product form.cart .group_table td.label {
    padding-right: 1em;
    padding-left: 1em
}

.woocommerce div.product form.cart .group_table td {
    vertical-align: top;
    padding-bottom: .5em;
    border: 0
}

.wc-tab.panel h2 {
    float: left;
    width: 100%;
    margin: 0px 0px 20px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    line-height: 1;
    padding: 15px 0px 0px;
}
.wc-tab .comment-form-rating p { padding: 0px; }
.wc-tab .comment-form-rating { padding: 0px 8px; }
.wc-tab .comment-respond form p label span:before,.wc-tab .comment-respond form p label span:after,
.wc-tab .comment-respond form p label:before,.wc-tab .comment-respond form p label:after { display: none; }
.wc-tab .comment-respond form p label span {
    position: static;
}

.woocommerce span.onsale {
    padding: 4px 10px;
    position: absolute;
    text-align: center;
    top: 0em;
    left: 0em;
    margin: 0px;
    background-color: #77a464;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 10;
}

.woocommerce .products ul,
.woocommerce ul.products {
    padding: 0;
    list-style: none;
    clear: both
}
.related > h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;
    padding-bottom: 9px;
    line-height: 1;
    position: relative;
}
.related > h2:before {
    content: '';
    position: absolute;
    right: -3px;
    bottom: 0px;
    width: 54px;
    height: 2px;
}

.woocommerce .products ul:after,
.woocommerce .products ul:before,
.woocommerce ul.products:after,
.woocommerce ul.products:before {
    content: " ";
    display: table
}

.woocommerce .products ul li,
.woocommerce ul.products li {
    list-style: none;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}
.panel-description h2 { display: none; }

.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em -.5em 0 0
}

.woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 1em
}

.woocommerce ul.products li.product a {
    text-decoration: none
}

.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none
}

.woocommerce ul.products li.product strong {
    display: block
}

.woocommerce ul.products li.product .kingdom-study-rating {
    font-size: .857em
}

.woocommerce ul.products li.product .button {
    margin-top: 1em
}

.woocommerce ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em
}

.woocommerce ul.products li.product .price del {
    color: inherit;
    opacity: .5;
    display: block
}

.woocommerce ul.products li.product .price ins {
    background: 0 0;
    font-weight: 700
}

.woocommerce ul.products li.product .price .from {
    font-size: .67em;
    margin: -2px 0 0;
    text-transform: uppercase;
    color: rgba(132, 132, 132, .5)
}

.woocommerce .woocommerce-ordering select {
    vertical-align: top
}

.woocommerce nav.woocommerce-pagination {
    text-align: center
}

.woocommerce nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px
}

.woocommerce nav.woocommerce-pagination ul li {
    border-right: 1px solid #d3ced2;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    margin: 0;
    text-decoration: none;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: .5em;
    min-width: 1em;
    display: block
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #ebe9eb;
    color: #8a7e88
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    display: inline-block;
    padding: 12px 22px;
    color: #fff;
    background-color: #303032;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}
.woocommerce button.button:hover { background-color: transparent; }
.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
    opacity: .25;
    padding-right: 2.618em
}

.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
    font-family: WooCommerce;
    content: "\e01c";
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    position: absolute;
    top: .618em;
    right: 1em;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.woocommerce #respond input#submit.added:after,
.woocommerce a.button.added:after,
.woocommerce button.button.added:after,
.woocommerce input.button.added:after {
    font-family: WooCommerce;
    content: "\e017";
    margin-left: .53em;
    vertical-align: bottom
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    text-decoration: none;
    background-image: none;
    color: #fff;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    color: #fff;
    -webkit-font-smoothing: antialiased
}

.single_add_to_cart_button {
    margin-left: 20px;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    color: #fff
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #a46497;
    color: #fff
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    color: inherit;
    cursor: not-allowed;
    opacity: .5;
    padding: .618em 1em;
    color: #fff;
}

.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover {
    color: inherit;
    background-color: #ebe9eb
}

.woocommerce .cart .button,
.woocommerce .cart input.button {
    float: none
}

.woocommerce a.added_to_cart {
    white-space: nowrap;
    display: inline-block;
    text-decoration: underline;
    padding-left: 10px;
}
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child { width: 100%; }
.woocommerce-product-gallery__wrapper { margin: 0px -8px; }
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image {
    float: left;
    width: 25%;
    padding: 0px 8px 8px 8px;
}

.woocommerce #reviews #comments .add_review:after,
.woocommerce #reviews #comments .add_review:before,
.woocommerce #reviews #comments ol.commentlist li .comment-text:after,
.woocommerce #reviews #comments ol.commentlist li .comment-text:before,
.woocommerce #reviews #comments ol.commentlist:after,
.woocommerce #reviews #comments ol.commentlist:before {
    content: " ";
    display: table
}

.woocommerce #reviews h2 small {
    float: right;
    color: #777;
    font-size: 15px;
    margin: 10px 0 0
}

.woocommerce #reviews h2 small a {
    text-decoration: none;
    color: #777
}

.woocommerce #reviews h3 {
    margin: 0
}

.woocommerce #reviews #respond {
    margin: 0;
    border: 0;
    padding: 0
}

.woocommerce #reviews #comments h2 {
    clear: none
}

.woocommerce #review_form #respond:after,
.woocommerce #reviews #comments ol.commentlist li .comment-text:after,
.woocommerce #reviews #comments ol.commentlist:after,
.woocommerce .woocommerce-product-rating:after,
.woocommerce td.product-name dl.variation:after {
    clear: both
}

.woocommerce #reviews #comments ol.commentlist {
    margin: 10px 0px;
    width: 100%;
    background: 0 0;
    list-style: none;
    padding-left: 0px;
}

.woocommerce #reviews #comments ol.commentlist li {
    padding: 0;
    margin: 0 0 50px;
    position: relative;
    display: inline-block;
    background: 0;
    border: 0;
    list-style: none;
}

.woocommerce #reviews #comments ol.commentlist li .meta {
    float: left;
}

.woocommerce #reviews #comments ol.commentlist li .meta strong {
    font-size: 16px;
    color: #262626;
}

.woocommerce #reviews #comments ol.commentlist li .meta time {
    font-style: italic;
    font-size: 12px;
    padding: 0 12px 0 0;
}

.woocommerce #reviews #comments .kingdom-study-rating:before,
.woocommerce #reviews #comments .kingdom-study-rating span:before {
    color: #ffae00;
}

#reviews #comments .description {
    display: inline-block;
    width: 100%;
    color: #6c8391;
    font-size: 16px;
    line-height: 1.5;
    padding: 5px 0 0;
}

.woocommerce-tabs .comment-form {
    display: inline-block;
    width: 100%;
}

.woocommerce-tabs .comment-form form {
    margin: 0px -10px;
    width: 100%;
    padding: 0px 42px 0px 0px;
}

.woocommerce-tabs .comment-form p.comment-form-comment,
.woocommerce-tabs .comment-form p.form-submit,
.woocommerce-tabs .comment-form p.comment-form-rating {
    width: 100%;
    margin-bottom: 22px;
}

.woocommerce-tabs .comment-respond form,
.woocommerce-tabs .comment-form p.form-submit {
    padding-top: 20px;
}

.woocommerce-tabs .comment-form p.comment-form-rating {
    line-height: 1;
}

.woocommerce-tabs .comment-form p.comment-form-rating label {
    float: left;
}

.woocommerce-tabs .comment-form p.comment-form-rating p.stars {
    margin: 0px !important;
}

.woocommerce-tabs .comment-form form p {
    list-style-type: none;
    margin-bottom: 19px;
    width: 33.333%;
    float: left;
    padding: 0px 10px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
    width: 65px;
    height: auto;
    margin: 0;
    border-radius: 100%;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 94px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .kingdom-study-rating {
    float: none;
    display: inline-block;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0px 0px 0px 0px;
    line-height: 1.5;
    color: #3d4158;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: .83em
}

.woocommerce #reviews #comments ol.commentlist ul.children {
    list-style: none;
    margin: 20px 0 0 50px
}

.woocommerce #reviews #comments ol.commentlist ul.children .kingdom-study-rating {
    display: none
}

.woocommerce #reviews #comments ol.commentlist #respond {
    border: 1px solid #e4e1e3;
    border-radius: 4px;
    padding: 1em 1em 0;
    margin: 20px 0 0 50px
}

.woocommerce #reviews #comments .commentlist>li:before {
    content: ""
}
.kingdom-study-shopwrap {
    margin-bottom: 60px;
    float: left;
    width: 100%;
}
section.related.products {
    display: inline-block;
    width: 100%;
}
.woocommerce .kingdom-study-rating {
    float: left;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 8em;
    font-family: star;
    letter-spacing: 5px;
    font-size: 11px;
    margin-top: 9px;
}

.woocommerce .kingdom-study-rating:before {
    content: "\73\73\73\73\73";
    float: left;
    top: 0;
    left: 0;
    position: absolute
}

.woocommerce .kingdom-study-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}

.woocommerce .kingdom-study-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0
}

.woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block
}

.woocommerce .woocommerce-product-rating:after,
.woocommerce .woocommerce-product-rating:before {
    content: " ";
    display: table
}

.woocommerce .woocommerce-product-rating .kingdom-study-rating {
    margin: .8em 4px 0 0;
    float: left
}

.woocommerce .products .kingdom-study-rating {
    display: block;
    margin: 0 0 .5em;
    float: none
}

.woocommerce .hreview-aggregate .kingdom-study-rating {
    margin: 10px 0 0
}

.woocommerce #review_form #respond {
    position: static;
    margin: 0;
    width: auto;
    padding: 0;
    background: 0 0;
    border: 0
}

.woocommerce #review_form #respond:after,
.woocommerce #review_form #respond:before {
    content: " ";
    display: table
}

.woocommerce p.stars a:before,
.woocommerce p.stars a:hover~a:before {
    content: "\e021"
}

.woocommerce #review_form #respond p {
    margin: 0 0 10px;
}
.woocommerce-tabs .comment-form-rating {
    float: left;
    width: 100%;
}

.woocommerce #review_form #respond .form-submit input {
    left: auto
}

.woocommerce #review_form #respond textarea {
    box-sizing: border-box;
    width: 100%
}

.woocommerce p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none
}

.woocommerce p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    text-indent: 0
}

.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes th {
    line-height: 1.5;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    border-top: 0;
    margin: 0
}

.woocommerce p.stars.selected a.active:before,
.woocommerce p.stars:hover a:before {
    content: "\e020";
}

.woocommerce p.stars.selected a.active~a:before {
    content: "\e021"
}

.woocommerce p.stars.selected a:not(.active):before {
    content: "\e020"
}

.woocommerce table.shop_attributes {
    border: 0;
    border-top: 1px dotted rgba(0, 0, 0, .1);
    margin-bottom: 1.618em;
    width: 100%
}

.woocommerce table.shop_attributes th {
    width: 150px;
    font-weight: 700;
    padding: 8px
}

.woocommerce table.shop_attributes td {
    font-style: italic;
    padding: 0
}

.woocommerce table.shop_attributes td p {
    margin: 0;
    padding: 8px 0
}

.woocommerce table.shop_attributes .alt td,
.woocommerce table.shop_attributes .alt th {
    background: rgba(0, 0, 0, .025)
}
.woocommerce table.shop_table.shop_table_responsive {
    border: 1px solid #eee;
}
.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
}
.woocommerce table.shop_table thead tr th,
.woocommerce table.shop_table tr td,
.woocommerce table.shop_table.shop_table_responsive tr th,
.woocommerce table.shop_table.shop_table_responsive tr td {
    border-color: #eee;
}
.woocommerce table.shop_table strong { color: #333; }

.woocommerce table.shop_table th {
    font-weight: 400;
    padding: 9px 12px;
    border-color: #eee;
}
.woocommerce table.shop_table tr td input.input-text.qty {
    background-color: #fff;
    border: 1px solid #eee;
}

.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 6px 12px;
    vertical-align: middle
}

.woocommerce table.shop_table td small {
    font-weight: 400
}

.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child th {
    border-top: 0
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-weight: 700;
    border-top: 1px solid #eee
}

.woocommerce table.my_account_orders {
    font-size: .85em
}

.woocommerce table.my_account_orders td,
.woocommerce table.my_account_orders th {
    padding: 4px 8px;
    vertical-align: middle
}

.woocommerce table.my_account_orders .button {
    white-space: nowrap
}

.woocommerce table.my_account_orders .order-actions {
    text-align: right
}

.woocommerce table.my_account_orders .order-actions .button {
    margin: .125em 0 .125em .25em
}

.woocommerce td.product-name dl.variation {
    margin: .25em 0
}

.woocommerce td.product-name dl.variation:after,
.woocommerce td.product-name dl.variation:before {
    content: " ";
    display: table
}

.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt {
    display: inline-block;
    float: left;
    margin-bottom: 1em
}

.woocommerce td.product-name dl.variation dt {
    font-weight: 700;
    padding: 0 0 .25em;
    margin: 0 4px 0 0;
    clear: left
}

.woocommerce ul.cart_list li dl:after,
.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li dl:after,
.woocommerce ul.product_list_widget li:after {
    clear: both
}

.woocommerce td.product-name dl.variation dd {
    padding: 0 0 .25em
}

.woocommerce td.product-name dl.variation dd p:last-child {
    margin-bottom: 0
}

.woocommerce td.product-name p.backorder_notification {
    font-size: .83em
}

.woocommerce td.product-quantity {
    min-width: 80px
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
    list-style: none;
    padding: 0;
    margin: 0
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
    padding: 4px 0px 10px 0px;
    margin: 0;
    list-style: none;
}
.widget .star-rating span:before {
    color: #ffaf00;
}
.widget .star-rating:before { color: #999; }

.woocommerce aside .widget ul li {
    padding: 15px 0px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
}

.woocommerce aside .widget ul li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}


/* Widget Pages */

.woocommerce.widget_product_categories > ul,
.woocommerce.widget_product_categories > ul > li {
    float: left;
    width: 100%;
}

.woocommerce.widget_product_categories > ul > li {
    list-style: none;
    padding: 11px 0px 11px 0px;
    border-top: 1px solid #eee;
}

.woocommerce.widget_product_categories > ul > li:first-child {
    padding-top: 0px;
}

.woocommerce.widget_product_categories > ul {
    padding: 0px;
}

.woocommerce.widget_product_categories > ul > li:first-child {
    border: none;
}

.woocommerce.widget_product_categories > ul > li > a {
    float: left;
    color: #333;
    font-size: 18px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.woocommerce.widget_product_categories ul ul {
    padding: 10px 0px 0px 10px;
    float: left;
    width: 100%;
    margin: 0px;
}

.woocommerce.widget_product_categories ul ul > li {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0px 0px 8px 0px;
    border-bottom: none;
}

.woocommerce.widget_product_categories ul ul > li a:hover {
    color: #6c8391;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.woocommerce.widget_product_categories ul ul > li > a:before {
    position: absolute;
    top: 0px;
    right: -16px;
    content: "\f105";
    opacity: 0;
    font-family: fontawesome;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.woocommerce.widget_product_categories ul ul > li:hover > a:before {
    opacity: 1;
}
.woocommerce.widget_product_categories ul > li > span { float: right; }
.woocommerce.widget_product_categories ul ul > li > a {
    float: left;
    font-size: 15px;
    position: relative;
    padding: 0px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/**/

.widget_top_rated_products .kingdom-study-rating {
    margin: 5px 0px;
}

.widget_product_tag_cloud a {
    font-size: 15px !important;
}
.kingdom-study-shop-text .woocommerce-product-details__short-description p { margin-bottom: 25px; }

.widget_product_tag_cloud a {
    background-color: #f6f6f6;
    border-radius: 25px;
    color: #6c8391;
    float: left;
    font-size: 15px;
    margin: 0px 10px 13px 0px;
    padding: 2px 16px 4px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.product_meta span a {
    color: #6c8391;
    display: inline-block;
    font-size: 15px;
    margin: 0px 0px 0px 10px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}


/* Price Filter */

.widget_price_filter form {
    display: inline-block;
    width: 100%;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
    float: left;
    font-size: 15px;
    background-color: #f3f3f3;
    padding: 9px 29px 10px 29px;
    border-radius: 40px;
    color: #999;
    line-height: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.woocommerce .widget_price_filter .price_slider_amount .button:hover {
    color: #ffffff;
}

.woocommerce .widget_price_filter .price_label {
    font-size: 15px;
    color: #6c8391;
}

.widget_product_search form {
    width: 100%;
    position: relative;
    float: left;
}

.widget_product_search form input[type="search"] {
    height: 43px;
    width: 100%;
    color: #6c8391;
    font-size: 15px;
    float: left;
    padding: 4px 20px;
    font-size: 15px;
    background-color: #f3f3f3;
}

.widget_product_search form input[type="submit"] {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 43px;
    border: none;
    z-index: 2;
    color: #fff;
    padding: 0px 20px;
}

.woocommerce ul.cart_list li:after,
.woocommerce ul.cart_list li:before,
.woocommerce ul.product_list_widget li:after,
.woocommerce ul.product_list_widget li:before {
    content: " ";
    display: table
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    display: block;
    font-weight: 700
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    float: right;
    margin-left: 4px;
    width: 70px;
    height: auto;
    box-shadow: none
}

.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
    margin: 0;
    padding-left: 1em;
    border-left: 2px solid rgba(0, 0, 0, .1)
}

.woocommerce ul.cart_list li dl:after,
.woocommerce ul.cart_list li dl:before,
.woocommerce ul.product_list_widget li dl:after,
.woocommerce ul.product_list_widget li dl:before {
    content: " ";
    display: table
}

.woocommerce ul.cart_list li dl dd,
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce ul.product_list_widget li dl dt {
    display: inline-block;
    float: left;
    margin-bottom: 1em
}

.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt {
    font-weight: 700;
    padding: 0 0 .25em;
    margin: 0 4px 0 0;
    clear: left
}

#add_payment_method .wc-proceed-to-checkout:after,
.woocommerce .order_details:after,
.woocommerce .widget_layered_nav ul li:after,
.woocommerce .widget_rating_filter ul li:after,
.woocommerce .widget_shopping_cart .buttons:after,
.woocommerce-account .addresses .title:after,
.woocommerce-account .woocommerce:after,
.woocommerce-cart .wc-proceed-to-checkout:after,
.woocommerce-checkout .wc-proceed-to-checkout:after,
.woocommerce-error:after,
.woocommerce-info:after,
.woocommerce-message:after,
.woocommerce.widget_shopping_cart .buttons:after {
    clear: both
}

.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
    padding: 0 0 .25em
}

.woocommerce ul.cart_list li dl dd p:last-child,
.woocommerce ul.product_list_widget li dl dd p:last-child {
    margin-bottom: 0
}

.woocommerce ul.cart_list li .kingdom-study-rating,
.woocommerce ul.product_list_widget li .kingdom-study-rating {
    float: none
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    border-top: 1px solid #f3f3f3;
    padding: 10px 0 0;
    margin-top: 15px;
}

.widget .buttons a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    margin-right: 10px;
    color: #ffffff;
    border-radius: 40px;
    line-height: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.woocommerce .widget_shopping_cart .total strong,
.woocommerce.widget_shopping_cart .total strong {
    min-width: 40px;
    display: inline-block
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 2em;
    position: relative;
    padding-top: 0;
    display: inline-block;
    width: 100%;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    position: absolute;
    top: 0;
    left: 0
}

.woocommerce .widget_shopping_cart .buttons:after,
.woocommerce .widget_shopping_cart .buttons:before,
.woocommerce.widget_shopping_cart .buttons:after,
.woocommerce.widget_shopping_cart .buttons:before {
    content: " ";
    display: table
}
.woocommerce form .form-row {
    padding: 4px;
    margin: 0 0 6px;
    display: inline-block;
    width: 50%;
}

.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity .5s .5s ease;
    -moz-transition: opacity .5s .5s ease;
    transition: opacity .5s .5s ease;
    opacity: 0
}

.woocommerce form .form-row label {
    line-height: 2;
    color: #333;
    text-transform: capitalize;
}

.woocommerce form .form-row label.hidden {
    visibility: hidden
}

.woocommerce form .form-row label.inline {
    display: inline
}

.woocommerce form .form-row select {
    cursor: pointer;
    margin: 0
}

.woocommerce form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0
}

.woocommerce form .form-row .input-checkbox {
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1;
    height: 40px;
    padding: 6px 15px;
    background-color: #fff;
    border: 1px solid #eee;
}

.woocommerce-billing-fields h3,
.woocommerce-checkout h3,
.woocommerce form .woocommerce-shipping-fields .form-row {
    display: inline-block;
    width: 100%;
}

.woocommerce form .form-row textarea {
    height: 12em;
    line-height: 1.5;
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.woocommerce form .form-row .select2-container {
    width: 100%;
    line-height: 2em
}

.woocommerce form .form-row.woocommerce-invalid label {
    color: #333
}

.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: #a00
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #69bf29
}
.select2-container .select2-choice {
    background-color: #141414;
    padding: 4px 0px 4px 12px;
    border-color: #222;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices { border-color: #222; }
.select2-dropdown-open .select2-choice { box-shadow: 0 1px 0 #222 inset; }

.woocommerce form .form-row::-webkit-input-placeholder {
    line-height: normal
}

.woocommerce form .form-row:-moz-placeholder {
    line-height: normal
}

.woocommerce form .form-row:-ms-input-placeholder {
    line-height: normal
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    display: inline-block;
    border: 1px solid #eee;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    width: 100%;
}

.woocommerce .login .form-row .inline {
    display: block;
}

.woocommerce .login .form-row .inline input {
    margin-top: 10px;
}

.woocommerce ul#shipping_method {
    list-style: none;
    margin: 0;
    padding: 0
}

.woocommerce ul#shipping_method li {
    margin: 0;
    padding: .25em 0 .25em 22px;
    text-indent: -22px;
    list-style: none
}

.woocommerce ul#shipping_method li input {
    margin: 3px .5ex
}

.woocommerce ul#shipping_method li label {
    display: inline
}

.woocommerce ul#shipping_method .amount {
    font-weight: 700
}

.woocommerce p.woocommerce-shipping-contents {
    margin: 0
}

.woocommerce .order_details {
    margin: 0 0 1.5em;
    list-style: none
}

.woocommerce .order_details:after,
.woocommerce .order_details:before {
    content: " ";
    display: table
}

.woocommerce .order_details li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: .715em;
    line-height: 1;
    border-right: 1px dashed #d3ced2;
    padding-right: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none
}

.woocommerce .order_details li strong {
    display: block;
    font-size: 1.4em;
    text-transform: none;
    line-height: 1.5
}

.woocommerce .order_details li:last-of-type {
    border: none
}

.woocommerce .widget_layered_nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none
}

.woocommerce .widget_layered_nav ul li {
    padding: 0 0 1px;
    list-style: none
}

.woocommerce .widget_layered_nav ul li:after,
.woocommerce .widget_layered_nav ul li:before {
    content: " ";
    display: table
}

.woocommerce .widget_layered_nav ul li.chosen a:before,
.woocommerce .widget_layered_nav_filters ul li a:before {
    line-height: 1;
    content: "î€“";
    font-family: WooCommerce;
    font-weight: 400;
    color: #a00;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-decoration: none
}

.woocommerce .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span {
    padding: 1px 0
}

.woocommerce .widget_layered_nav ul li.chosen a:before {
    margin-right: .618em
}

.woocommerce .widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    overflow: hidden;
    zoom: 1
}

.woocommerce .widget_layered_nav_filters ul li {
    float: left;
    padding: 0 1px 1px 0;
    list-style: none
}

.woocommerce .widget_layered_nav_filters ul li a {
    text-decoration: none
}

.woocommerce .widget_layered_nav_filters ul li a:before {
    margin-right: .618em
}

.woocommerce .widget_price_filter .price_slider {
    margin-bottom: 1em
}

.woocommerce .widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4;
    font-size: .8751em
}

.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: #a46497;
    border-radius: 1em;
    cursor: ew-resize;
    outline: 0;
    top: -.3em;
    margin-left: -.5em
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
    background-color: #e9e9e9;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    background-color: #f6f6f6;
    border: 0
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: .5em
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px
}

.woocommerce .widget_rating_filter ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none
}

.woocommerce .widget_rating_filter ul li {
    padding: 0 0 1px;
    list-style: none
}

.woocommerce .widget_rating_filter ul li:after,
.woocommerce .widget_rating_filter ul li:before {
    content: " ";
    display: table
}

.woocommerce .widget_rating_filter ul li a {
    padding: 1px 0;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.woocommerce .widget_rating_filter ul li .kingdom-study-rating {
    float: left;
    margin: 8px 0px 0px 0px;
}

.woocommerce .widget_rating_filter ul li.chosen a:before {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "î€“";
    text-decoration: none;
    color: #a00
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    display: inline-block;
    padding: 1em 2em 1em 3.5em!important;
    margin: 0 0 2em!important;
    position: relative;
    background-color: #f1f1f1;
    color: #333;
    border-top: 3px solid #a46497;
    list-style: none!important;
    width: 100%;
    word-wrap: break-word
}

.woocommerce-error:after,
.woocommerce-error:before,
.woocommerce-info:after,
.woocommerce-info:before,
.woocommerce-message:after,
.woocommerce-message:before {
    content: " ";
    display: table
}

.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
    font-family: WooCommerce;
    content: "\e028";
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em
}

.woocommerce-error .button,
.woocommerce-info .button,
.woocommerce-message .button {
    float: right
}

.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
    list-style: none!important;
    padding-left: 0!important;
    margin-left: 0!important
}
.woocommerce-error li strong { color: #757575; }

.woocommerce-message {
    border-top-color: #8fae1b
}

.woocommerce-message:before {
    content: "\e015";
    color: #8fae1b
}

.woocommerce-info {
    border-top-color: #eee
}

.woocommerce-info:before {
    color: #303032
}

.woocommerce-error {
    border-top-color: #b81c23
}

.woocommerce-error:before {
    content: "\e016";
    color: #b81c23
}

.woocommerce-account .addresses .title:after,
.woocommerce-account .addresses .title:before,
.woocommerce-account .woocommerce:after,
.woocommerce-account .woocommerce:before {
    content: " ";
    display: table
}

.woocommerce-account .addresses .title h3 {
    float: left
}

.woocommerce-account .addresses .title .edit,
.woocommerce-account ul.digital-downloads li .count {
    float: right
}

.woocommerce-account ol.commentlist.notes li.note p.meta {
    font-weight: 700;
    margin-bottom: 0
}

.woocommerce-account ol.commentlist.notes li.note .description p:last-child {
    margin-bottom: 0
}

.woocommerce-account ul.digital-downloads {
    margin-left: 0;
    padding-left: 0
}

.woocommerce-account ul.digital-downloads li {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}

.woocommerce-account ul.digital-downloads li:before {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "î€Š";
    text-decoration: none
}

#add_payment_method table.cart .product-thumbnail,
.woocommerce-cart table.cart .product-thumbnail,
.woocommerce-checkout table.cart .product-thumbnail {
    min-width: 32px
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 32px;
    box-shadow: none
}

#add_payment_method table.cart td,
#add_payment_method table.cart th,
.woocommerce-cart table.cart td,
.woocommerce-cart table.cart th,
.woocommerce-checkout table.cart td,
.woocommerce-checkout table.cart th {
    vertical-align: middle
}

.coupon,
.coupon label,
.coupon input {
    float: left;
    color: #ffffff;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 4px 14px;
    margin: 7px 20px 0 20px;
    outline: 0;
    line-height: 1;
}

#add_payment_method table.cart input,
.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input {
    margin: 0;
    vertical-align: middle;
    line-height: 1
}

#add_payment_method .wc-proceed-to-checkout,
.woocommerce-cart .wc-proceed-to-checkout,
.woocommerce-checkout .wc-proceed-to-checkout {
    padding: 1em 0
}

#add_payment_method .wc-proceed-to-checkout:after,
#add_payment_method .wc-proceed-to-checkout:before,
.woocommerce-cart .wc-proceed-to-checkout:after,
.woocommerce-cart .wc-proceed-to-checkout:before,
.woocommerce-checkout .wc-proceed-to-checkout:after,
.woocommerce-checkout .wc-proceed-to-checkout:before {
    content: " ";
    display: table
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding: 1em
}

#add_payment_method .cart-collaterals .shipping_calculator .button,
.woocommerce-cart .cart-collaterals .shipping_calculator .button,
.woocommerce-checkout .cart-collaterals .shipping_calculator .button {
    width: 100%;
    float: none;
    display: block
}

#add_payment_method .cart-collaterals .shipping_calculator .shipping-calculator-button:after,
.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button:after,
.woocommerce-checkout .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: .618em;
    content: "î€™";
    text-decoration: none
}

#add_payment_method #payment ul.payment_methods li:after,
#add_payment_method #payment ul.payment_methods li:before,
#add_payment_method #payment ul.payment_methods:after,
#add_payment_method #payment ul.payment_methods:before,
.woocommerce-cart #payment ul.payment_methods li:after,
.woocommerce-cart #payment ul.payment_methods li:before,
.woocommerce-cart #payment ul.payment_methods:after,
.woocommerce-cart #payment ul.payment_methods:before,
.woocommerce-checkout #payment ul.payment_methods li:after,
.woocommerce-checkout #payment ul.payment_methods li:before,
.woocommerce-checkout #payment ul.payment_methods:after,
.woocommerce-checkout #payment ul.payment_methods:before {
    content: " ";
    display: table
}

#add_payment_method .cart-collaterals .cart_totals p small,
.woocommerce-cart .cart-collaterals .cart_totals p small,
.woocommerce-checkout .cart-collaterals .cart_totals p small {
    color: #777;
    font-size: .83em
}

#add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
    border-collapse: separate;
    margin: 0 0 6px;
    padding: 0
}

#add_payment_method .cart-collaterals .cart_totals table tr:first-child td,
#add_payment_method .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child td,
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce-checkout .cart-collaterals .cart_totals table tr:first-child td,
.woocommerce-checkout .cart-collaterals .cart_totals table tr:first-child th {
    border-top: 0
}

#add_payment_method .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table th {
    width: 40%
}

#add_payment_method .cart-collaterals .cart_totals table td,
#add_payment_method .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table td,
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table td,
.woocommerce-checkout .cart-collaterals .cart_totals table th {
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    line-height: 1.5em
}

#add_payment_method .cart-collaterals .cart_totals table small,
.woocommerce-cart .cart-collaterals .cart_totals table small,
.woocommerce-checkout .cart-collaterals .cart_totals table small {
    color: #777
}

#add_payment_method .cart-collaterals .cart_totals table select,
.woocommerce-cart .cart-collaterals .cart_totals table select,
.woocommerce-checkout .cart-collaterals .cart_totals table select {
    width: 100%
}

#add_payment_method .cart-collaterals .cart_totals .discount td,
.woocommerce-cart .cart-collaterals .cart_totals .discount td,
.woocommerce-checkout .cart-collaterals .cart_totals .discount td {
    color: #77a464
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
    border-top: 1px solid #ebe9eb
}

#add_payment_method .cart-collaterals .cross-sells ul.products li.product,
.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product,
.woocommerce-checkout .cart-collaterals .cross-sells ul.products li.product {
    margin-top: 0
}

#add_payment_method .checkout .col-2 h3#ship-to-different-address,
.woocommerce-cart .checkout .col-2 h3#ship-to-different-address,
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
    float: left;
    clear: none
}

#add_payment_method .checkout .col-2 .form-row-first,
#add_payment_method .checkout .col-2 .notes,
.woocommerce-cart .checkout .col-2 .form-row-first,
.woocommerce-cart .checkout .col-2 .notes,
.woocommerce-checkout .checkout .col-2 .form-row-first,
.woocommerce-checkout .checkout .col-2 .notes {
    clear: left
}

#add_payment_method .checkout .create-account small,
.woocommerce-cart .checkout .create-account small,
.woocommerce-checkout .checkout .create-account small {
    font-size: 11px;
    color: #777;
    font-weight: 400
}

#add_payment_method .checkout div.shipping-address,
.woocommerce-cart .checkout div.shipping-address,
.woocommerce-checkout .checkout div.shipping-address {
    padding: 0;
    clear: left;
    width: 100%
}

#add_payment_method #payment ul.payment_methods li:after,
#add_payment_method #payment ul.payment_methods:after,
#add_payment_method .checkout .shipping_address,
.single-product .twentythirteen p.stars,
.woocommerce-cart #payment ul.payment_methods li:after,
.woocommerce-cart #payment ul.payment_methods:after,
.woocommerce-cart .checkout .shipping_address,
.woocommerce-checkout #payment ul.payment_methods li:after,
.woocommerce-checkout #payment ul.payment_methods:after,
.woocommerce-checkout .checkout .shipping_address {
    clear: both
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #fbfbfb;
    margin-bottom: 50px;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #eee;
    margin: 0;
    list-style: none
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
    list-style: none;
}

.woocommerce-checkout-payment label {
    color: #757575;
    display: inline;
}

#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
    margin: 0 1em 0 0
}

#add_payment_method #payment ul.payment_methods li img,
.woocommerce-cart #payment ul.payment_methods li img,
.woocommerce-checkout #payment ul.payment_methods li img {
    vertical-align: middle;
    margin: -2px 0 0 .5em;
    padding: 0;
    position: relative;
    box-shadow: none
}

#add_payment_method #payment ul.payment_methods li img+img,
.woocommerce-cart #payment ul.payment_methods li img+img,
.woocommerce-checkout #payment ul.payment_methods li img+img {
    margin-left: 2px
}

#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
    padding: 1em
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #eee;
    color: #7c7c7c;
}

#add_payment_method #payment div.payment_box input.input-text,
#add_payment_method #payment div.payment_box textarea,
.woocommerce-cart #payment div.payment_box input.input-text,
.woocommerce-cart #payment div.payment_box textarea,
.woocommerce-checkout #payment div.payment_box input.input-text,
.woocommerce-checkout #payment div.payment_box textarea {
    border-color: #bbb3b9 #c7c1c6 #c7c1c6
}

#add_payment_method #payment div.payment_box::-webkit-input-placeholder,
.woocommerce-cart #payment div.payment_box::-webkit-input-placeholder,
.woocommerce-checkout #payment div.payment_box::-webkit-input-placeholder {
    color: #bbb3b9
}

#add_payment_method #payment div.payment_box:-moz-placeholder,
.woocommerce-cart #payment div.payment_box:-moz-placeholder,
.woocommerce-checkout #payment div.payment_box:-moz-placeholder {
    color: #bbb3b9
}

#add_payment_method #payment div.payment_box:-ms-input-placeholder,
.woocommerce-cart #payment div.payment_box:-ms-input-placeholder,
.woocommerce-checkout #payment div.payment_box:-ms-input-placeholder {
    color: #bbb3b9
}

#add_payment_method #payment div.payment_box .woocommerce-SavedPaymentMethods,
.woocommerce-cart #payment div.payment_box .woocommerce-SavedPaymentMethods,
.woocommerce-checkout #payment div.payment_box .woocommerce-SavedPaymentMethods {
    list-style: none;
    margin: 0
}

#add_payment_method #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-new,
#add_payment_method #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-token,
.woocommerce-cart #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-new,
.woocommerce-cart #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-token,
.woocommerce-checkout #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-new,
.woocommerce-checkout #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-token {
    margin: 0 0 .5em
}

#add_payment_method #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-new label,
#add_payment_method #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-token label,
.woocommerce-cart #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-new label,
.woocommerce-cart #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-token label,
.woocommerce-checkout #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-new label,
.woocommerce-checkout #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-token label {
    cursor: pointer
}

#add_payment_method #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-tokenInput,
.woocommerce-cart #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-tokenInput,
.woocommerce-checkout #payment div.payment_box .woocommerce-SavedPaymentMethods .woocommerce-SavedPaymentMethods-tokenInput {
    vertical-align: middle;
    margin: -3px 1em 0 0;
    position: relative
}

#add_payment_method #payment div.payment_box .wc-credit-card-form,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form {
    border: 0;
    padding: 0;
    margin: 1em 0 0
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number {
    font-size: 1.5em;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: right .618em center;
    background-size: 32px 20px
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.visa,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.visa,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.visa,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.visa {
    background-image: url(../images/icons/credit-cards/visa.svg)
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.mastercard,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.mastercard {
    background-image: url(../images/icons/credit-cards/mastercard.svg)
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.laser,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.laser,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.laser,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.laser {
    background-image: url(../images/icons/credit-cards/laser.svg)
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.dinersclub,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.dinersclub {
    background-image: url(../images/icons/credit-cards/diners.svg)
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.maestro,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.maestro,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.maestro,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.maestro {
    background-image: url(../images/icons/credit-cards/maestro.svg)
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.jcb,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.jcb,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.jcb,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.jcb {
    background-image: url(../images/icons/credit-cards/jcb.svg)
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.amex,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.amex,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.amex,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.amex {
    background-image: url(../images/icons/credit-cards/amex.svg)
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc.discover,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number.discover,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc.discover,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.discover {
    background-image: url(../images/icons/credit-cards/discover.svg)
}

#add_payment_method #payment div.payment_box span.help,
.woocommerce-cart #payment div.payment_box span.help,
.woocommerce-checkout #payment div.payment_box span.help {
    font-size: .857em;
    color: #777;
    font-weight: 400
}

#add_payment_method #payment div.payment_box .form-row,
.woocommerce-cart #payment div.payment_box .form-row,
.woocommerce-checkout #payment div.payment_box .form-row {
    margin: 0 0 1em
}

#add_payment_method #payment div.payment_box p:last-child,
.woocommerce-cart #payment div.payment_box p:last-child,
.woocommerce-checkout #payment div.payment_box p:last-child {
    margin-bottom: 0
}

#add_payment_method #payment div.payment_box:before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
    content: "";
    display: block;
    border: 1em solid #eee;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 2em
}

#add_payment_method #payment .payment_method_paypal .about_paypal,
.woocommerce-cart #payment .payment_method_paypal .about_paypal,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    float: right;
    line-height: 52px;
    font-size: .83em
}

#add_payment_method #payment .payment_method_paypal img,
.woocommerce-cart #payment .payment_method_paypal img,
.woocommerce-checkout #payment .payment_method_paypal img {
    max-height: 52px;
    vertical-align: middle
}

.woocommerce-password-strength {
    text-align: center;
    font-weight: 600;
    padding: 3px .5em;
    font-size: 1em
}

.woocommerce-password-strength.strong {
    background-color: #c1e1b9;
    border-color: #83c373
}

.woocommerce-password-strength.short {
    background-color: #f1adad;
    border-color: #e35b5b
}

.woocommerce-password-strength.bad {
    background-color: #fbc5a9;
    border-color: #f78b53
}

.woocommerce-password-strength.good {
    background-color: #ffe399;
    border-color: #ffc733
}

.woocommerce-password-hint {
    margin: .5em 0 0;
    display: block
}

.product.has-default-attributes.has-children>.images {
    opacity: 0
}

#content.twentyeleven .woocommerce-pagination a {
    font-size: 1em;
    line-height: 1
}

.single-product .twentythirteen #reply-title,
.single-product .twentythirteen #respond #commentform,
.single-product .twentythirteen .entry-summary {
    padding: 0
}

.twentythirteen .woocommerce-breadcrumb {
    padding-top: 40px
}

.twentyfourteen ul.products li.product {
    margin-top: 0!important
}

body:not(.search-results) .twentysixteen .entry-summary {
    color: inherit;
    font-size: inherit;
    line-height: inherit
}

.twentysixteen .price ins {
    background: inherit;
    color: inherit
}

.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    float: left;
    width: 100%;
    background: #fcfcfc;
    margin-bottom: 15px;
    padding: 10px 20px;
}
.woocommerce .woocommerce-result-count {
    float: left;
    margin: 8px 0px 30px 0px;
}
.woocommerce .woocommerce-ordering {
    float: right;
    margin-bottom: 30px;
}
.woocommerce .kingdom-study-pagination { width: 100%; }
.woocommerce-billing-fields .select2-container .select2-selection--single { height: 40px; }
.woocommerce-billing-fields .select2-container--default .select2-selection--single .select2-selection__arrow { top: 8px; }
.woocommerce-billing-fields .select2-container .select2-selection--single .select2-selection__rendered { padding-top: 5px; }














.careerfy-shopgrid-sec {
    width: 100%;
    float: left;
}
.careerfy-shopgrid-sec ul li {
    list-style: none;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    margin-bottom: 30px;
}
.careerfy-shop-label {
    position: absolute;
    left: 1px;
    top: 1px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 1;
}
.careerfy-shop-grid {
    border: 1px solid #eaeaea;
    width: 100%;
    float: left;
    position: relative;
}
.careerfy-shop-grid > figure > img {
    width: 100%;
    height: 100%;
}
.careerfy-shop-grid figure > a:before {
    content: '';    
    background-color: rgba(185,150,99,0.7);
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;  
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.careerfy-shopgrid-sec ul li:hover .careerfy-shop-grid figure > a:before {
    opacity: 0.70;
    width: 50%;
}
.careerfy-shop-grid figure > a:after {
    content: '';
    background-color: rgba(185,150,99,0.7);
    width: 0%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    opacity: 0;  
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.careerfy-shopgrid-sec ul li:hover .careerfy-shop-grid figure > a:after {
    opacity: 0.70;
    width: 50%;
}
.careerfy-shop-grid figure,.careerfy-shop-grid figure > a,.careerfy-shop-grid figure > a > img {
    margin: 0;
    float: left;
    width: 100%;
}
.careerfy-grid-tittle {
    width: 100%;
    float: left;
    padding: 12px 12px 12px 91px;
    margin-bottom: 26px;
    position: relative;
}
.careerfy-grid-tittle img {
    position: absolute;
    border-radius: 100%;
    left: 18px;
    top: -26px;
}
.careerfy-grid-tittle a {
    color: #c3c8e2;
    float: left;
}
.careerfy-grid-info {
    text-align: center;
    width: 100%;
    float: left;
    padding-top: 30px;
}
.careerfy-shopgrid-sec .careerfy-grid-info span.price {
    display: inline-block;
    font-size: 24px;
}
.careerfy-shopgrid-sec .careerfy-grid-info del,
.careerfy-shopgrid-sec .careerfy-grid-info ins {
    text-decoration: unset;
}
.careerfy-select-form {
    float: left;
}
.careerfy-shop-filter ul {
    float: right;
    margin-left: 10px;
}
.careerfy-shop-filter ul li {
    float: left;
    list-style: none;
    margin: 0px 0px 0px 10px;
}
.careerfy-shop-filter ul li a.active { color: #ffffff; }
.careerfy-shop-filter ul li a {
    float: left;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    text-align: center;
    padding: 8px 0px 0px 0px;
}
.careerfy-shop-list .careerfy-cart-btn { margin-top: 0px; }
.careerfy-cart-button {
    width: 100%;
    float: left;
    padding-bottom: 31px;
}
.careerfy-cart-button a {
    border: 1px solid #b99663;
    padding: 4px 21px 4px 39px;
    font-size: 12px;
    display: inline-block;
    margin-top: 19px;
    position: relative; 
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}
.careerfy-cart-button a span {
    position: relative;
    font-size: 12px;
    padding: 0;
    z-index: 100;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
} 
.careerfy-cart-button a:before {
    content: "";
    height: 0%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}
.careerfy-cart-button a:hover:before {
    width: 100%;
    height: 50%;
    opacity: 1;
}
.careerfy-cart-button a:after {
    content: "";
    height: 0%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 50;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}
.careerfy-cart-button a:hover:after {
    width: 100%;
    height: 50%;
    opacity: 1;
}
.careerfy-cart-button a:hover i ,.careerfy-cart-button a:hover span {
    color: #ffffff;
} 
.careerfy-cart-button i {
    font-size: 14px;
    left: 17px;
    position: absolute;
    top: 11px;
    z-index: 100;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
/*shop-single-prodect*/
.careerfy-singleshop-miniheader {
    background-image: url("./images/singleshop-miniheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    padding: 94px 0 74px;
    position: relative;
    text-align: center;
    width: 100%;
}
.careerfy-images {
    width: 45%;
    float: left;
    padding-bottom: 51px;
}
.careerfy-images ul {
    margin: 0 0 0 -15px;
}
.careerfy-images ul li {
    float: left;
    list-style: outside none none;
    padding: 0 0 12px 15px;
    width: 25%;
    position: relative;
}
.careerfy-images ul li > a,.careerfy-images ul li > a img {
    float: left;
    width: 100%;
}
.careerfy-images .careerfy-shop-grid {
    border: none;
}
.careerfy-images .careerfy-shop-grid figure img {
    width: 100%;
}
.careerfy-images .careerfy-featured-thumb {
    width: 100%;
}
.careerfy-images .careerfy-grid-tittle {
    margin: 0;
}
.careerfy-shopwrap .careerfy-summary:before { display: none; }
.careerfy-summary {
    float: left;
    padding-left: 27px;
    width: 55%;
}
.careerfy-summary h2 {
    line-height: 35px;
    margin: 0;
    padding-bottom: 6px;
}
.careerfy-summary .careerfy-levelrating {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 0;
    padding-bottom: 0;
    position: relative;
    width: 77px;
    float: left;
}
.careerfy-summary .careerfy-levelrating:before, .careerfy-summary .rating-box:before {
    content: "";
    font-family: FontAwesome;
    font-size: 11px;
    left: 0;
    letter-spacing: 4px;
    position: absolute;
    top: 0;
}
.careerfy-summary .rating-box:before {
    content: "";
}
.careerfy-summary .rating-box {
    height: 16px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.careerfy-summary .careerfy-reviews span {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    float: left;
    line-height: 1;
}
.careerfy-summary del,.careerfy-summary ins { text-decoration: unset; }
.careerfy-summary del span {
    font-size: 20px;
    color: #bcbcbc;
    margin-right: 4px;
}
.careerfy-summary .price {
    font-size: 20px;
    font-weight: 400;
}
.careerfy-rating-quality {
    width: 100%;
    float: left;
    padding-bottom: 26px;
}
.careerfy-summary p {
    line-height: 24px;
    color: #424242;
    margin: 0;
    padding-bottom: 25px;
}

/* Checkout Page  */
.woocommerce-checkout .col2-set {
    float: left;
    width: 65%;
    padding-right: 30px;
}
.woocommerce-checkout #order_review_heading,
.woocommerce-checkout .woocommerce-checkout-review-order {
    float: right;
    width: 35%;
}
.woocommerce-checkout .woocommerce-checkout-review-order {box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08);}
.woocommerce .woocommerce-additional-fields__field-wrapper p.form-row { width: 100%; }
.woocommerce-checkout h3 { margin-top: 10px; }
.select2-container--default .select2-selection--single { border-color: #eee; }

.woocommerce table.shop_table.woocommerce-checkout-review-order-table thead tr th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr td,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot th {
    border: none;
    text-align: left;
}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table { border: none; }
.woocommerce table.shop_table.woocommerce-checkout-review-order-table th {
    background-color: #f8f8f8;
    padding: 7px 12px;
}
.woocommerce .woocommerce-checkout #payment .payment_method_paypal img {
    float: right;
    border: 0;
    padding: 0;
    max-height: 1.618em;
    margin: 3px 12px 0px 0px;
}
.woocommerce-checkout .woocommerce-checkout-payment .payment_box label {
    display: block;
    padding: 0.7em 1.41575em 0em 3em;
    cursor: pointer;
    background-color: #f8f8f8;
}
.wc-saved-payment-methods li { position: relative; }
.wc-saved-payment-methods li input[type="radio"] {
    position: absolute !important;
    left: 16px;
    top: 25px;
}
.payment_box.payment_method_stripe fieldset label {
    background-color: transparent !important;
    padding-left: 1.5em !important;
}
.woocommerce .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    float: none;
    line-height: 1;
}
.woocommerce .woocommerce-checkout-payment .form-row.place-order { width: 100%; }
.woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    background-color: #3d9cd2;
    border: none;
    color: #ffffff;
}
.woocommerce .woocommerce-error {
    background-color: #e12335;
    border: none;
    color: #ffffff;
}
.woocommerce-error li strong,.woocommerce-error:before { color: #ffffff; }
.woocommerce .woocommerce-error a, .woocommerce .woocommerce-info a, .woocommerce .woocommerce-message a,.woocommerce .woocommerce-info:before { color: #ffffff; }
.woocommerce-checkout .careerfy-entry-content { text-align: center; }
.woocommerce-checkout .woocommerce {
    display: inline-block;
    width: 980px;
    padding: 30px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08);
    background-color: #ffffff;
    margin-bottom: 30px;
    text-align: left;
}
.woocommerce form .form-row.validate-email { width: 100%; }
.woocommerce .place-order button.button {
    width: 100%;
    padding: 1em 1.41575em;
    font-size: 1.41575em;
    text-transform: capitalize;
    border: 1px solid;
    border-radius: 3px;
    outline: none;
}
.woocommerce .place-order button.button:hover {
    background-color: #ffffff;
}
.wc-stripe-elements-field {
    display: inline-block;
    width: 100%;
}
.woocommerce form .form-row.woocommerce-SavedPaymentMethods-saveNew label {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
.woocommerce form .form-row.woocommerce-SavedPaymentMethods-saveNew,
.woocommerce-terms-and-conditions-wrapper .form-row.validate-required { width: 100%; }
.woocommerce-checkout #payment div.payment_box {
    background-color: #ffffff;
    padding: 0px;
    margin-bottom: 0px;
}
.woocommerce-checkout #payment div.payment_box:before { display: none; }
.woocommerce-checkout #payment ul.payment_methods {
    padding: 0;
}
.woocommerce-checkout .payment_box p {
    padding: 1em 1.41575em;
}
.woocommerce-checkout #payment ul.payment_methods li {
    background-color: #f8f8f8;
    padding: 0.5em 0;
}
.woocommerce-checkout #payment ul.payment_methods li input {
    float: left;
    margin: 8px 0.8em 0 1em;
}
.payment_box .wc-stripe-elements-field {
    margin: 5px 0 5px 18px;
    width: 88%;
}
.woocommerce-checkout #payment ul.payment_methods li img.stripe-icon {
    padding-left: 0px;
    padding-right: 12px;
}
.woocommerce-checkout #payment .payment_method_stripe label[for="payment_method_stripe"] { padding-left: 39px !important; }
.woocommerce-terms-and-conditions-wrapper span.woocommerce-terms-and-conditions-checkbox-text {
    padding-left: 27px;
    display: inline;
    vertical-align: middle;
}
.woocommerce-checkout #payment {
    background-color: #ffffff;
    margin-bottom: 0px;
}
.woocommerce-checkout #payment ul.payment_methods li .form-row.woocommerce-SavedPaymentMethods-saveNew input { margin-left: 0px; }
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label-for-checkbox .input-checkbox {
    display: inline;
    margin-top: 6px;
    vertical-align: inherit;
}
.select2-results__options li {
    list-style: none;
    padding: 6px 14px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #f5fafd;
    color: #495c68;
}
.select2-dropdown { border-color: #eee; }
.select2-container--default .select2-results__option[data-selected="true"] {
    background-color: #3d9cd2;
    color: #ffffff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    content: "\f107";
    font-family: FontAwesome;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    content: "\f106";
    font-family: FontAwesome;
}
.select2-container--default .select2-selection--single .select2-selection__arrow { line-height: 0.2; right: 7px; }
.select2-container .select2-selection--single .select2-selection__rendered { padding-left: 13px; }
.woocommerce-form-coupon p.form-row-last { width: 40%; }